In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import os
import swifter

from pyensembl import EnsemblRelease
from pyensembl.genome import Genome
from pyensembl.shell import collect_all_installed_ensembl_releases
collect_all_installed_ensembl_releases()

/cluster/project/beltrao/gankin/software/miniconda3/envs/vnn/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

[EnsemblRelease(release=75, species='homo_sapiens'),
 EnsemblRelease(release=111, species='homo_sapiens')]

# Load UKB BIM

In [2]:
data_dir = "/cluster/project/beltrao/gankin/vnn/data"

# Read the .bim file to get SNP information
bim_file = data_dir + "/ukb.bim"
bim_df = pd.read_csv(bim_file, sep='\t', header=None)
bim_df.columns = ['chrom', 'snp', 'cm', 'pos', 'a1', 'a2']
bim_df

/scratch/tmp.20794777.dgankin/ipykernel_4025407/1028760957.py:5: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  bim_df = pd.read_csv(bim_file, sep='\t', header=None)

       chrom            snp  cm     pos a1 a2
0          1     rs28659788   0  723307  C  G
1          1    rs116587930   0  727841  G  A
2          1    rs116720794   0  729632  C  T
3          1      rs3131972   0  752721  A  G
4          1     rs12184325   0  754105  C  T
...      ...            ...  ..     ... .. ..
805421    MT  Affx-92047842   0   16337  C  T
805422    MT  Affx-79443531   0   16356  T  C
805423    MT  Affx-79443532   0   16362  T  C
805424    MT  Affx-89025709   0   16390  G  A
805425    MT  Affx-79381726   0   16391  G  A

[805426 rows x 6 columns]

# Load Open Targets data

In [3]:
variant_index_parquet = data_dir + "/complete_variant_index.parquet"
variant_index = pd.read_parquet(variant_index_parquet) # takes a few minutes
variant_index

,chr_id,position,ref_allele,alt_allele,chr_id_b37,position_b37,rs_id,most_severe_consequence,cadd,af,gene_id_any_distance,gene_id_any,gene_id_prot_coding_distance,gene_id_prot_coding
0,1,30794,G,T,1,30794,rs1311411458,intron_variant,"{'phred': 0.177, 'raw': -0.402967}","{'gnomad_afr': 0.0, 'gnomad_amr': 0.0, 'gnomad...",34625.0,ENSG00000186092,34625.0,ENSG00000186092
1,1,55330,G,A,1,55330,rs185215913,downstream_gene_variant,"{'phred': 0.431, 'raw': -0.275244}","{'gnomad_afr': 0.016711590296495958, 'gnomad_a...",10089.0,ENSG00000186092,10089.0,ENSG00000186092
2,1,57248,C,T,1,57248,rs1249676487,downstream_gene_variant,"{'phred': 7.268, 'raw': 0.304146}","{'gnomad_afr': 0.0, 'gnomad_amr': 0.0, 'gnomad...",8171.0,ENSG00000186092,8171.0,ENSG00000186092
3,1,66381,T,A,1,66381,rs538833530,upstream_gene_variant,"{'phred': 1.389, 'raw': -0.101295}","{'gnomad_afr': 0.15321011673151752, 'gnomad_am...",962.0,ENSG00000186092,962.0,ENSG00000186092
4,1,67631,G,C,1,67631,rs533896527,upstream_gene_variant,"{'phred': 0.033, 'raw': -0.632235}","{'gnomad_afr': 0.041812315138478086, 'gnomad_a...",2212.0,ENSG00000186092,2212.0,ENSG00000186092
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72878704,X,156006466,G,C,X,155236131,rs1218662062,intron_variant,"{'phred': 1.118, 'raw': -0.133403}","{'gnomad_afr': 0.0, 'gnomad_amr': 0.0, 'gnomad...",8770.0,ENSG00000124334,8770.0,ENSG00000124334
72878705,X,156006493,C,T,X,155236158,rs1417497789,intron_variant,"{'phred': 1.776, 'raw': -0.063666}","{'gnomad_afr': 0.0, 'gnomad_amr': 0.0011848341...",8797.0,ENSG00000124334,8797.0,ENSG00000124334
72878706,X,156008488,C,T,X,155238153,rs186430584,intron_variant,"{'phred': 3.876, 'raw': 0.076619}","{'gnomad_afr': 0.030184331797235023, 'gnomad_a...",10792.0,ENSG00000124334,10792.0,ENSG00000124334
72878707,X,156009035,CTG,C,X,155238700,rs1381721936,intron_variant,"{'phred': None, 'raw': None}","{'gnomad_afr': 0.0008291873963515755, 'gnomad_...",11339.0,ENSG00000124334,11339.0,ENSG00000124334
72878708,X,156027432,C,T,X,155257097,rs1041001787,non_coding_transcript_exon_variant,"{'phred': 9.819, 'raw': 0.548259}","{'gnomad_afr': 0.0, 'gnomad_amr': 0.0, 'gnomad...",6606.0,ENSG00000182484,6606.0,ENSG00000182484

# Merge with UKB SNP data

In [4]:
# merge bim with variant index
ot_bim = variant_index.merge(bim_df, left_on='rs_id', right_on='snp', how='inner')
ot_bim

,chr_id,position,ref_allele,alt_allele,chr_id_b37,position_b37,rs_id,most_severe_consequence,cadd,af,gene_id_any_distance,gene_id_any,gene_id_prot_coding_distance,gene_id_prot_coding,chrom,snp,cm,pos,a1,a2
0,1,1169204,T,C,1,1104584,rs112695918,upstream_gene_variant,"{'phred': 0.61, 'raw': -0.223786}","{'gnomad_afr': 0.1370131366674349, 'gnomad_amr...",4676.0,ENSG00000162571,4676.0,ENSG00000162571,1,rs112695918,0,1104584,T,C
1,1,2038313,C,T,1,1969752,rs74372554,intergenic_variant,"{'phred': 0.309, 'raw': -0.324059}","{'gnomad_afr': 0.01078971533516988, 'gnomad_am...",12098.0,ENSG00000067606,12098.0,ENSG00000067606,1,rs74372554,0,1969752,C,T
2,1,2194104,A,G,1,2125543,rs146607591,missense_variant,"{'phred': 4.241, 'raw': 0.098415}","{'gnomad_afr': 0.00034498620055197794, 'gnomad...",18616.0,ENSG00000162585,18616.0,ENSG00000162585,1,rs146607591,0,2125543,A,G
3,1,2592668,C,T,1,2524107,rs146100312,missense_variant,"{'phred': 23.9, 'raw': 3.118097}","{'gnomad_afr': 0.0, 'gnomad_amr': 0.0, 'gnomad...",6177.0,ENSG00000157870,6177.0,ENSG00000157870,1,rs146100312,0,2524107,C,T
4,1,2828773,C,A,1,2745338,rs116076619,intergenic_variant,"{'phred': 0.058, 'raw': -0.555543}","{'gnomad_afr': 0.0060821666284140465, 'gnomad_...",27080.0,ENSG00000215912,27080.0,ENSG00000215912,1,rs116076619,0,2745338,C,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
747754,X,152014563,G,A,X,151183035,rs145754054,intergenic_variant,"{'phred': 2.456, 'raw': -0.011208}","{'gnomad_afr': 0.009298393913778529, 'gnomad_a...",39883.0,ENSG00000102287,39883.0,ENSG00000102287,X,rs145754054,0,151183035,G,A
747755,X,153459591,C,T,X,152725049,rs5945389,intron_variant,"{'phred': 2.968, 'raw': 0.022059}","{'gnomad_afr': 0.0032312925170068026, 'gnomad_...",10996.0,ENSG00000183479,10996.0,ENSG00000183479,X,rs5945389,0,152725049,C,T
747756,X,153781540,A,C,X,153046995,rs199915647,missense_variant,"{'phred': 22.5, 'raw': 2.480113}","{'gnomad_afr': 0.00017018379850238256, 'gnomad...",5128.0,ENSG00000184343,5128.0,ENSG00000184343,X,rs199915647,0,153046995,A,C
747757,X,154534419,G,A,X,153762634,rs5030868,missense_variant,"{'phred': 24.7, 'raw': 3.374046}","{'gnomad_afr': 0.0001721763085399449, 'gnomad_...",6780.0,ENSG00000269335,6780.0,ENSG00000269335,X,rs5030868,0,153762634,G,A
747758,X,155780194,T,G,X,155009856,rs700449,3_prime_UTR_variant,"{'phred': 5.474, 'raw': 0.175592}","{'gnomad_afr': 0.0, 'gnomad_amr': 0.0011876484...",61096.0,ENSG00000185973,61096.0,ENSG00000185973,XY,rs700449,0,155009856,T,C

# Gene ids to gene names

In [5]:
human_data = EnsemblRelease(species='human', release=75)
def get_gene_name(ensembl_id):
    try:
        return human_data.gene_name_of_gene_id(ensembl_id)
    except:
        return None

In [6]:
name_map = pd.DataFrame()
name_map["gene_id"] = ot_bim.gene_id_prot_coding.unique()
name_map["gene_name"]  = name_map["gene_id"].swifter.apply(lambda x: get_gene_name(x))

Pandas Apply: 100%|██████████| 18817/18817 [10:32<00:00, 29.76it/s]

In [7]:
# count None in gene names
print("Gene Id not mappable: ", name_map.gene_name.isnull().sum())
print("Unique gene names: ", name_map.gene_name.nunique())

Gene Id not mappable:  298
Unique gene names:  18510

In [8]:
ot_bim = pd.merge(ot_bim, name_map, left_on='gene_id_prot_coding', right_on='gene_id', how='left')

In [9]:
# remove all None gene names
ot_bim = ot_bim[ot_bim.gene_name.notnull()]
ot_bim

,chr_id,position,ref_allele,alt_allele,chr_id_b37,position_b37,rs_id,most_severe_consequence,cadd,af,...,gene_id_prot_coding_distance,gene_id_prot_coding,chrom,snp,cm,pos,a1,a2,gene_id,gene_name
0,1,1169204,T,C,1,1104584,rs112695918,upstream_gene_variant,"{'phred': 0.61, 'raw': -0.223786}","{'gnomad_afr': 0.1370131366674349, 'gnomad_amr...",...,4676.0,ENSG00000162571,1,rs112695918,0,1104584,T,C,ENSG00000162571,TTLL10
1,1,2038313,C,T,1,1969752,rs74372554,intergenic_variant,"{'phred': 0.309, 'raw': -0.324059}","{'gnomad_afr': 0.01078971533516988, 'gnomad_am...",...,12098.0,ENSG00000067606,1,rs74372554,0,1969752,C,T,ENSG00000067606,PRKCZ
2,1,2194104,A,G,1,2125543,rs146607591,missense_variant,"{'phred': 4.241, 'raw': 0.098415}","{'gnomad_afr': 0.00034498620055197794, 'gnomad...",...,18616.0,ENSG00000162585,1,rs146607591,0,2125543,A,G,ENSG00000162585,C1orf86
3,1,2592668,C,T,1,2524107,rs146100312,missense_variant,"{'phred': 23.9, 'raw': 3.118097}","{'gnomad_afr': 0.0, 'gnomad_amr': 0.0, 'gnomad...",...,6177.0,ENSG00000157870,1,rs146100312,0,2524107,C,T,ENSG00000157870,FAM213B
4,1,2828773,C,A,1,2745338,rs116076619,intergenic_variant,"{'phred': 0.058, 'raw': -0.555543}","{'gnomad_afr': 0.0060821666284140465, 'gnomad_...",...,27080.0,ENSG00000215912,1,rs116076619,0,2745338,C,A,ENSG00000215912,TTC34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
747754,X,152014563,G,A,X,151183035,rs145754054,intergenic_variant,"{'phred': 2.456, 'raw': -0.011208}","{'gnomad_afr': 0.009298393913778529, 'gnomad_a...",...,39883.0,ENSG00000102287,X,rs145754054,0,151183035,G,A,ENSG00000102287,GABRE
747755,X,153459591,C,T,X,152725049,rs5945389,intron_variant,"{'phred': 2.968, 'raw': 0.022059}","{'gnomad_afr': 0.0032312925170068026, 'gnomad_...",...,10996.0,ENSG00000183479,X,rs5945389,0,152725049,C,T,ENSG00000183479,TREX2
747756,X,153781540,A,C,X,153046995,rs199915647,missense_variant,"{'phred': 22.5, 'raw': 2.480113}","{'gnomad_afr': 0.00017018379850238256, 'gnomad...",...,5128.0,ENSG00000184343,X,rs199915647,0,153046995,A,C,ENSG00000184343,SRPK3
747757,X,154534419,G,A,X,153762634,rs5030868,missense_variant,"{'phred': 24.7, 'raw': 3.374046}","{'gnomad_afr': 0.0001721763085399449, 'gnomad_...",...,6780.0,ENSG00000269335,X,rs5030868,0,153762634,G,A,ENSG00000269335,IKBKG
747758,X,155780194,T,G,X,155009856,rs700449,3_prime_UTR_variant,"{'phred': 5.474, 'raw': 0.175592}","{'gnomad_afr': 0.0, 'gnomad_amr': 0.0011876484...",...,61096.0,ENSG00000185973,XY,rs700449,0,155009856,T,C,ENSG00000185973,TMLHE

In [10]:
ot_bim.rs_id.nunique()

731084

In [11]:
ot_bim = ot_bim.drop_duplicates(subset=["rs_id", "gene_name"])
# rename rs_id col to snp
ot_bim = ot_bim.rename({"rs_id":"snp"})
ot_bim

,chr_id,position,ref_allele,alt_allele,chr_id_b37,position_b37,rs_id,most_severe_consequence,cadd,af,...,gene_id_prot_coding_distance,gene_id_prot_coding,chrom,snp,cm,pos,a1,a2,gene_id,gene_name
0,1,1169204,T,C,1,1104584,rs112695918,upstream_gene_variant,"{'phred': 0.61, 'raw': -0.223786}","{'gnomad_afr': 0.1370131366674349, 'gnomad_amr...",...,4676.0,ENSG00000162571,1,rs112695918,0,1104584,T,C,ENSG00000162571,TTLL10
1,1,2038313,C,T,1,1969752,rs74372554,intergenic_variant,"{'phred': 0.309, 'raw': -0.324059}","{'gnomad_afr': 0.01078971533516988, 'gnomad_am...",...,12098.0,ENSG00000067606,1,rs74372554,0,1969752,C,T,ENSG00000067606,PRKCZ
2,1,2194104,A,G,1,2125543,rs146607591,missense_variant,"{'phred': 4.241, 'raw': 0.098415}","{'gnomad_afr': 0.00034498620055197794, 'gnomad...",...,18616.0,ENSG00000162585,1,rs146607591,0,2125543,A,G,ENSG00000162585,C1orf86
3,1,2592668,C,T,1,2524107,rs146100312,missense_variant,"{'phred': 23.9, 'raw': 3.118097}","{'gnomad_afr': 0.0, 'gnomad_amr': 0.0, 'gnomad...",...,6177.0,ENSG00000157870,1,rs146100312,0,2524107,C,T,ENSG00000157870,FAM213B
4,1,2828773,C,A,1,2745338,rs116076619,intergenic_variant,"{'phred': 0.058, 'raw': -0.555543}","{'gnomad_afr': 0.0060821666284140465, 'gnomad_...",...,27080.0,ENSG00000215912,1,rs116076619,0,2745338,C,A,ENSG00000215912,TTC34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
747753,X,151609900,A,G,X,150778372,rs58448897,intron_variant,"{'phred': 3.523, 'raw': 0.055668}","{'gnomad_afr': 0.11482740118046861, 'gnomad_am...",...,46225.0,ENSG00000166049,X,rs58448897,0,150778372,A,G,ENSG00000166049,PASD1
747754,X,152014563,G,A,X,151183035,rs145754054,intergenic_variant,"{'phred': 2.456, 'raw': -0.011208}","{'gnomad_afr': 0.009298393913778529, 'gnomad_a...",...,39883.0,ENSG00000102287,X,rs145754054,0,151183035,G,A,ENSG00000102287,GABRE
747755,X,153459591,C,T,X,152725049,rs5945389,intron_variant,"{'phred': 2.968, 'raw': 0.022059}","{'gnomad_afr': 0.0032312925170068026, 'gnomad_...",...,10996.0,ENSG00000183479,X,rs5945389,0,152725049,C,T,ENSG00000183479,TREX2
747756,X,153781540,A,C,X,153046995,rs199915647,missense_variant,"{'phred': 22.5, 'raw': 2.480113}","{'gnomad_afr': 0.00017018379850238256, 'gnomad...",...,5128.0,ENSG00000184343,X,rs199915647,0,153046995,A,C,ENSG00000184343,SRPK3
747757,X,154534419,G,A,X,153762634,rs5030868,missense_variant,"{'phred': 24.7, 'raw': 3.374046}","{'gnomad_afr': 0.0001721763085399449, 'gnomad_...",...,6780.0,ENSG00000269335,X,rs5030868,0,153762634,G,A,ENSG00000269335,IKBKG

In [12]:
# get snp_bed_id from bim_df 
bim_df = bim_df.reset_index()
#bim_df.columns = ['snp_bed_id', 'chrom', 'snp', 'cm', 'pos', 'a1', 'a2']
bim_df.columns = ['snp_bed_id', 'chrom', 'snp', 'cm', 'pos', 'a1', 'a2']
bim_df

        snp_bed_id chrom            snp  cm     pos a1 a2
0                0     1     rs28659788   0  723307  C  G
1                1     1    rs116587930   0  727841  G  A
2                2     1    rs116720794   0  729632  C  T
3                3     1      rs3131972   0  752721  A  G
4                4     1     rs12184325   0  754105  C  T
...            ...   ...            ...  ..     ... .. ..
805421      805421    MT  Affx-92047842   0   16337  C  T
805422      805422    MT  Affx-79443531   0   16356  T  C
805423      805423    MT  Affx-79443532   0   16362  T  C
805424      805424    MT  Affx-89025709   0   16390  G  A
805425      805425    MT  Affx-79381726   0   16391  G  A

[805426 rows x 7 columns]

In [13]:
ot_bim = ot_bim.merge(bim_df[["snp", "snp_bed_id"]], left_on="snp", right_on="snp")

In [14]:
ot_bim

,chr_id,position,ref_allele,alt_allele,chr_id_b37,position_b37,rs_id,most_severe_consequence,cadd,af,...,gene_id_prot_coding,chrom,snp,cm,pos,a1,a2,gene_id,gene_name,snp_bed_id
0,1,1169204,T,C,1,1104584,rs112695918,upstream_gene_variant,"{'phred': 0.61, 'raw': -0.223786}","{'gnomad_afr': 0.1370131366674349, 'gnomad_amr...",...,ENSG00000162571,1,rs112695918,0,1104584,T,C,ENSG00000162571,TTLL10,220
1,1,2038313,C,T,1,1969752,rs74372554,intergenic_variant,"{'phred': 0.309, 'raw': -0.324059}","{'gnomad_afr': 0.01078971533516988, 'gnomad_am...",...,ENSG00000067606,1,rs74372554,0,1969752,C,T,ENSG00000067606,PRKCZ,599
2,1,2194104,A,G,1,2125543,rs146607591,missense_variant,"{'phred': 4.241, 'raw': 0.098415}","{'gnomad_afr': 0.00034498620055197794, 'gnomad...",...,ENSG00000162585,1,rs146607591,0,2125543,A,G,ENSG00000162585,C1orf86,648
3,1,2592668,C,T,1,2524107,rs146100312,missense_variant,"{'phred': 23.9, 'raw': 3.118097}","{'gnomad_afr': 0.0, 'gnomad_amr': 0.0, 'gnomad...",...,ENSG00000157870,1,rs146100312,0,2524107,C,T,ENSG00000157870,FAM213B,838
4,1,2828773,C,A,1,2745338,rs116076619,intergenic_variant,"{'phred': 0.058, 'raw': -0.555543}","{'gnomad_afr': 0.0060821666284140465, 'gnomad_...",...,ENSG00000215912,1,rs116076619,0,2745338,C,A,ENSG00000215912,TTC34,889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
731079,X,151609900,A,G,X,150778372,rs58448897,intron_variant,"{'phred': 3.523, 'raw': 0.055668}","{'gnomad_afr': 0.11482740118046861, 'gnomad_am...",...,ENSG00000166049,X,rs58448897,0,150778372,A,G,ENSG00000166049,PASD1,802181
731080,X,152014563,G,A,X,151183035,rs145754054,intergenic_variant,"{'phred': 2.456, 'raw': -0.011208}","{'gnomad_afr': 0.009298393913778529, 'gnomad_a...",...,ENSG00000102287,X,rs145754054,0,151183035,G,A,ENSG00000102287,GABRE,802336
731081,X,153459591,C,T,X,152725049,rs5945389,intron_variant,"{'phred': 2.968, 'raw': 0.022059}","{'gnomad_afr': 0.0032312925170068026, 'gnomad_...",...,ENSG00000183479,X,rs5945389,0,152725049,C,T,ENSG00000183479,TREX2,802547
731082,X,153781540,A,C,X,153046995,rs199915647,missense_variant,"{'phred': 22.5, 'raw': 2.480113}","{'gnomad_afr': 0.00017018379850238256, 'gnomad...",...,ENSG00000184343,X,rs199915647,0,153046995,A,C,ENSG00000184343,SRPK3,802648
731083,X,154534419,G,A,X,153762634,rs5030868,missense_variant,"{'phred': 24.7, 'raw': 3.374046}","{'gnomad_afr': 0.0001721763085399449, 'gnomad_...",...,ENSG00000269335,X,rs5030868,0,153762634,G,A,ENSG00000269335,IKBKG,802968

# Load GO term to gene mapping

In [2]:
import networkx as nx
import pickle

In [34]:
#go_path = "../../data/GO_biological_process.pickle"
go_path = "../../ontology_operations/data/GO_cellular_component.pickle"
G = pickle.load(open(go_path, 'rb'))

In [15]:
# Load go terms and genes
#goterms_df = pd.read_csv("../../ontology_operations/data/GO_terms_biological_processes_merged_EBI_uniprot.csv", index_col=0)
goterms_df = pd.read_csv("../../ontology_operations/data/GO_terms_cellular_components_merged_EBI_uniprot.csv", index_col=0)

In [16]:
goterms_df["gene_name"] = goterms_df["merged"].apply(lambda x: x.split(";"))
goterms_df = goterms_df.explode("gene_name")
goterms_df

,merged,len_merged,name,gene_name
GO:0000137,GLP;GOLGA8S;GOLGA6A;HUGL;GOT1B;GOLGA6B;GOLGA;N...,49,Golgi cis cisterna,GLP
GO:0000137,GLP;GOLGA8S;GOLGA6A;HUGL;GOT1B;GOLGA6B;GOLGA;N...,49,Golgi cis cisterna,GOLGA8S
GO:0000137,GLP;GOLGA8S;GOLGA6A;HUGL;GOT1B;GOLGA6B;GOLGA;N...,49,Golgi cis cisterna,GOLGA6A
GO:0000137,GLP;GOLGA8S;GOLGA6A;HUGL;GOT1B;GOLGA6B;GOLGA;N...,49,Golgi cis cisterna,HUGL
GO:0000137,GLP;GOLGA8S;GOLGA6A;HUGL;GOT1B;GOLGA6B;GOLGA;N...,49,Golgi cis cisterna,GOT1B
...,...,...,...,...
GO:1903754,KIAA0627;CLASP2,2,cortical microtubule plus-end,CLASP2
GO:1990836,HSPA10;HSPA8;HSC70;HSP73,4,lysosomal matrix,HSPA10
GO:1990836,HSPA10;HSPA8;HSC70;HSP73,4,lysosomal matrix,HSPA8
GO:1990836,HSPA10;HSPA8;HSC70;HSP73,4,lysosomal matrix,HSC70
GO:1990836,HSPA10;HSPA8;HSC70;HSP73,4,lysosomal matrix,HSP73

# Filter genes

In [18]:
gene_df = pd.DataFrame()
gene_df["gene_name"] = goterms_df.gene_name.unique()

In [19]:
go_bim = ot_bim.merge(gene_df, on="gene_name")

In [20]:
go_bim.gene_name.nunique() # some genes not mapped to go terms ..

16042

In [40]:
go_bim.gene_name.nunique() # some genes not mapped to go terms ..

16042

In [21]:
go_bim

,chr_id,position,ref_allele,alt_allele,chr_id_b37,position_b37,rs_id,most_severe_consequence,cadd,af,...,gene_id_prot_coding,chrom,snp,cm,pos,a1,a2,gene_id,gene_name,snp_bed_id
0,1,1169204,T,C,1,1104584,rs112695918,upstream_gene_variant,"{'phred': 0.61, 'raw': -0.223786}","{'gnomad_afr': 0.1370131366674349, 'gnomad_amr...",...,ENSG00000162571,1,rs112695918,0,1104584,T,C,ENSG00000162571,TTLL10,220
1,1,2038313,C,T,1,1969752,rs74372554,intergenic_variant,"{'phred': 0.309, 'raw': -0.324059}","{'gnomad_afr': 0.01078971533516988, 'gnomad_am...",...,ENSG00000067606,1,rs74372554,0,1969752,C,T,ENSG00000067606,PRKCZ,599
2,1,2194104,A,G,1,2125543,rs146607591,missense_variant,"{'phred': 4.241, 'raw': 0.098415}","{'gnomad_afr': 0.00034498620055197794, 'gnomad...",...,ENSG00000162585,1,rs146607591,0,2125543,A,G,ENSG00000162585,C1orf86,648
3,1,2592668,C,T,1,2524107,rs146100312,missense_variant,"{'phred': 23.9, 'raw': 3.118097}","{'gnomad_afr': 0.0, 'gnomad_amr': 0.0, 'gnomad...",...,ENSG00000157870,1,rs146100312,0,2524107,C,T,ENSG00000157870,FAM213B,838
4,1,3041036,T,C,1,2957600,rs12409277,intergenic_variant,"{'phred': 1.823, 'raw': -0.059547}","{'gnomad_afr': 0.13893357848770396, 'gnomad_am...",...,ENSG00000169717,1,rs12409277,0,2957600,T,C,ENSG00000169717,ACTRT2,958
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644889,X,151609900,A,G,X,150778372,rs58448897,intron_variant,"{'phred': 3.523, 'raw': 0.055668}","{'gnomad_afr': 0.11482740118046861, 'gnomad_am...",...,ENSG00000166049,X,rs58448897,0,150778372,A,G,ENSG00000166049,PASD1,802181
644890,X,152014563,G,A,X,151183035,rs145754054,intergenic_variant,"{'phred': 2.456, 'raw': -0.011208}","{'gnomad_afr': 0.009298393913778529, 'gnomad_a...",...,ENSG00000102287,X,rs145754054,0,151183035,G,A,ENSG00000102287,GABRE,802336
644891,X,153459591,C,T,X,152725049,rs5945389,intron_variant,"{'phred': 2.968, 'raw': 0.022059}","{'gnomad_afr': 0.0032312925170068026, 'gnomad_...",...,ENSG00000183479,X,rs5945389,0,152725049,C,T,ENSG00000183479,TREX2,802547
644892,X,153781540,A,C,X,153046995,rs199915647,missense_variant,"{'phred': 22.5, 'raw': 2.480113}","{'gnomad_afr': 0.00017018379850238256, 'gnomad...",...,ENSG00000184343,X,rs199915647,0,153046995,A,C,ENSG00000184343,SRPK3,802648
644893,X,154534419,G,A,X,153762634,rs5030868,missense_variant,"{'phred': 24.7, 'raw': 3.374046}","{'gnomad_afr': 0.0001721763085399449, 'gnomad_...",...,ENSG00000269335,X,rs5030868,0,153762634,G,A,ENSG00000269335,IKBKG,802968

In [22]:
gene_df = pd.DataFrame()
gene_df["gene_name"] = go_bim.gene_name.unique()
gene_df.reset_index(inplace=True)
gene_df.columns = ["gene_bed_id", "gene_name"]
gene_df

       gene_bed_id gene_name
0                0    TTLL10
1                1     PRKCZ
2                2   C1orf86
3                3   FAM213B
4                4    ACTRT2
...            ...       ...
16037        16037     RPL18
16038        16038     HOXA3
16039        16039      TAF6
16040        16040      TPRN
16041        16041     NOMO1

[16042 rows x 2 columns]

In [23]:
go_bim = go_bim.merge(gene_df, on="gene_name")
go_bim

,chr_id,position,ref_allele,alt_allele,chr_id_b37,position_b37,rs_id,most_severe_consequence,cadd,af,...,chrom,snp,cm,pos,a1,a2,gene_id,gene_name,snp_bed_id,gene_bed_id
0,1,1169204,T,C,1,1104584,rs112695918,upstream_gene_variant,"{'phred': 0.61, 'raw': -0.223786}","{'gnomad_afr': 0.1370131366674349, 'gnomad_amr...",...,1,rs112695918,0,1104584,T,C,ENSG00000162571,TTLL10,220,0
1,1,2038313,C,T,1,1969752,rs74372554,intergenic_variant,"{'phred': 0.309, 'raw': -0.324059}","{'gnomad_afr': 0.01078971533516988, 'gnomad_am...",...,1,rs74372554,0,1969752,C,T,ENSG00000067606,PRKCZ,599,1
2,1,2194104,A,G,1,2125543,rs146607591,missense_variant,"{'phred': 4.241, 'raw': 0.098415}","{'gnomad_afr': 0.00034498620055197794, 'gnomad...",...,1,rs146607591,0,2125543,A,G,ENSG00000162585,C1orf86,648,2
3,1,2592668,C,T,1,2524107,rs146100312,missense_variant,"{'phred': 23.9, 'raw': 3.118097}","{'gnomad_afr': 0.0, 'gnomad_amr': 0.0, 'gnomad...",...,1,rs146100312,0,2524107,C,T,ENSG00000157870,FAM213B,838,3
4,1,3041036,T,C,1,2957600,rs12409277,intergenic_variant,"{'phred': 1.823, 'raw': -0.059547}","{'gnomad_afr': 0.13893357848770396, 'gnomad_am...",...,1,rs12409277,0,2957600,T,C,ENSG00000169717,ACTRT2,958,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644889,X,151609900,A,G,X,150778372,rs58448897,intron_variant,"{'phred': 3.523, 'raw': 0.055668}","{'gnomad_afr': 0.11482740118046861, 'gnomad_am...",...,X,rs58448897,0,150778372,A,G,ENSG00000166049,PASD1,802181,9628
644890,X,152014563,G,A,X,151183035,rs145754054,intergenic_variant,"{'phred': 2.456, 'raw': -0.011208}","{'gnomad_afr': 0.009298393913778529, 'gnomad_a...",...,X,rs145754054,0,151183035,G,A,ENSG00000102287,GABRE,802336,7660
644891,X,153459591,C,T,X,152725049,rs5945389,intron_variant,"{'phred': 2.968, 'raw': 0.022059}","{'gnomad_afr': 0.0032312925170068026, 'gnomad_...",...,X,rs5945389,0,152725049,C,T,ENSG00000183479,TREX2,802547,2413
644892,X,153781540,A,C,X,153046995,rs199915647,missense_variant,"{'phred': 22.5, 'raw': 2.480113}","{'gnomad_afr': 0.00017018379850238256, 'gnomad...",...,X,rs199915647,0,153046995,A,C,ENSG00000184343,SRPK3,802648,12949
644893,X,154534419,G,A,X,153762634,rs5030868,missense_variant,"{'phred': 24.7, 'raw': 3.374046}","{'gnomad_afr': 0.0001721763085399449, 'gnomad_...",...,X,rs5030868,0,153762634,G,A,ENSG00000269335,IKBKG,802968,13478

In [24]:
all_snp_ids = go_bim.snp_bed_id.unique() # list of all snp ids, enumerate and map to ids
snp_id_dict = dict(zip(all_snp_ids, range(len(all_snp_ids))))
# snp position in gene_level bed file
go_bim['snp_gbed_id'] = go_bim['snp_bed_id'].map(snp_id_dict)

In [25]:
go_bim[["snp", "gene_name", "snp_bed_id", "snp_gbed_id", "gene_bed_id"]]

                snp gene_name  snp_bed_id  snp_gbed_id  gene_bed_id
0       rs112695918    TTLL10         220            0            0
1        rs74372554     PRKCZ         599            1            1
2       rs146607591   C1orf86         648            2            2
3       rs146100312   FAM213B         838            3            3
4        rs12409277    ACTRT2         958            4            4
...             ...       ...         ...          ...          ...
644889   rs58448897     PASD1      802181       644889         9628
644890  rs145754054     GABRE      802336       644890         7660
644891    rs5945389     TREX2      802547       644891         2413
644892  rs199915647     SRPK3      802648       644892        12949
644893    rs5030868     IKBKG      802968       644893        13478

[644894 rows x 5 columns]

In [26]:
go_bim[["snp", "gene_name", "snp_bed_id", "snp_gbed_id", "gene_bed_id"]].to_csv("../data/go_cellular_components_bim.csv", index=False, sep="\t")

In [ ]:
#go_bim.to_csv("../data/go_biological_processes_bim_full.csv", index=False, sep="\t")

# Prune network

In [35]:
import networkx as nx
import pickle

#go_path = "../../ontology_operations/data/GO_biological_process.pickle"
go_path = "../../ontology_operations/data/GO_cellular_component.pickle"
G = pickle.load(open(go_path, 'rb'))

In [8]:
go_bim = pd.read_csv("../data/go_biological_processes_bim_full.csv", sep="\t")

In [28]:
merged_go = go_bim.merge(goterms_df.reset_index(), on="gene_name") # .... lot's of multiple connections

In [29]:
merged_go

,chr_id,position,ref_allele,alt_allele,chr_id_b37,position_b37,rs_id,most_severe_consequence,cadd,af,...,a2,gene_id,gene_name,snp_bed_id,gene_bed_id,snp_gbed_id,index,merged,len_merged,name
0,1,1169204,T,C,1,1104584,rs112695918,upstream_gene_variant,"{'phred': 0.61, 'raw': -0.223786}","{'gnomad_afr': 0.1370131366674349, 'gnomad_amr...",...,C,ENSG00000162571,TTLL10,220,0,0,GO:0005829,M130;NFATC1;GGCT;PKDL;TORC3;NIP2;CPGL;KNSL5;DN...,13464,cytosol
1,1,2038313,C,T,1,1969752,rs74372554,intergenic_variant,"{'phred': 0.309, 'raw': -0.324059}","{'gnomad_afr': 0.01078971533516988, 'gnomad_am...",...,T,ENSG00000067606,PRKCZ,599,1,1,GO:0001725,C20orf28;CTTNBP2NL;LPP;KIAA1296;KIAA0991;DRR1;...,211,stress fiber
2,1,2038313,C,T,1,1969752,rs74372554,intergenic_variant,"{'phred': 0.309, 'raw': -0.324059}","{'gnomad_afr': 0.01078971533516988, 'gnomad_am...",...,T,ENSG00000067606,PRKCZ,599,1,1,GO:0005634,DHX38;B4E246;NFATC1;CRAMP1L;ZNF526;CCNP;TORC3;...,17387,nucleus
3,1,2038313,C,T,1,1969752,rs74372554,intergenic_variant,"{'phred': 0.309, 'raw': -0.324059}","{'gnomad_afr': 0.01078971533516988, 'gnomad_am...",...,T,ENSG00000067606,PRKCZ,599,1,1,GO:0005737,LSLCL;NFATC1;CCNP;TORC3;NIP2;B2R7M0;ATG16L2;GO...,16823,cytoplasm
4,1,2038313,C,T,1,1969752,rs74372554,intergenic_variant,"{'phred': 0.309, 'raw': -0.324059}","{'gnomad_afr': 0.01078971533516988, 'gnomad_am...",...,T,ENSG00000067606,PRKCZ,599,1,1,GO:0005768,KIAA0319;A0A384ME16;PKN;ARL8B;B3KQD2;B4E2S7;TM...,1498,endosome
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2946977,X,154534419,G,A,X,153762634,rs5030868,missense_variant,"{'phred': 24.7, 'raw': 3.374046}","{'gnomad_afr': 0.0001721763085399449, 'gnomad_...",...,A,ENSG00000269335,IKBKG,802968,13478,644893,GO:0005634,DHX38;B4E246;NFATC1;CRAMP1L;ZNF526;CCNP;TORC3;...,17387,nucleus
2946978,X,154534419,G,A,X,153762634,rs5030868,missense_variant,"{'phred': 24.7, 'raw': 3.374046}","{'gnomad_afr': 0.0001721763085399449, 'gnomad_...",...,A,ENSG00000269335,IKBKG,802968,13478,644893,GO:0005654,DHX38;NFATC1;TTF1;TORC3;CPGL;C20orf77;PRO1146;...,10042,nucleoplasm
2946979,X,154534419,G,A,X,153762634,rs5030868,missense_variant,"{'phred': 24.7, 'raw': 3.374046}","{'gnomad_afr': 0.0001721763085399449, 'gnomad_...",...,A,ENSG00000269335,IKBKG,802968,13478,644893,GO:0005737,LSLCL;NFATC1;CCNP;TORC3;NIP2;B2R7M0;ATG16L2;GO...,16823,cytoplasm
2946980,X,154534419,G,A,X,153762634,rs5030868,missense_variant,"{'phred': 24.7, 'raw': 3.374046}","{'gnomad_afr': 0.0001721763085399449, 'gnomad_...",...,A,ENSG00000269335,IKBKG,802968,13478,644893,GO:0005829,M130;NFATC1;GGCT;PKDL;TORC3;NIP2;CPGL;KNSL5;DN...,13464,cytosol
2946981,X,154534419,G,A,X,153762634,rs5030868,missense_variant,"{'phred': 24.7, 'raw': 3.374046}","{'gnomad_afr': 0.0001721763085399449, 'gnomad_...",...,A,ENSG00000269335,IKBKG,802968,13478,644893,GO:0072686,NGRN;IL8RB;IRA1;DCDC1;B4DY90;USP44;STK15;CDC14...,359,mitotic spindle

In [36]:
merged_go["index"].nunique()

859

In [11]:
merged_go["index"].nunique()

11364

In [37]:
go_terms = merged_go["index"].unique()

In [38]:
go_terms = {i.replace(":", "_") for i in go_terms}
go_terms

{'GO_0000137',
 'GO_0000138',
 'GO_0000139',
 'GO_0000145',
 'GO_0000220',
 'GO_0000221',
 'GO_0000228',
 'GO_0000235',
 'GO_0000242',
 'GO_0000262',
 'GO_0000322',
 'GO_0000323',
 'GO_0000407',
 'GO_0000421',
 'GO_0000793',
 'GO_0000794',
 'GO_0000800',
 'GO_0000801',
 'GO_0000802',
 'GO_0000803',
 'GO_0000805',
 'GO_0000806',
 'GO_0000923',
 'GO_0000932',
 'GO_0001520',
 'GO_0001527',
 'GO_0001533',
 'GO_0001534',
 'GO_0001535',
 'GO_0001650',
 'GO_0001651',
 'GO_0001652',
 'GO_0001669',
 'GO_0001725',
 'GO_0001726',
 'GO_0001739',
 'GO_0001740',
 'GO_0001741',
 'GO_0001750',
 'GO_0001772',
 'GO_0001891',
 'GO_0001917',
 'GO_0001931',
 'GO_0001939',
 'GO_0001940',
 'GO_0002079',
 'GO_0002080',
 'GO_0002081',
 'GO_0002096',
 'GO_0002102',
 'GO_0002141',
 'GO_0002177',
 'GO_0005576',
 'GO_0005581',
 'GO_0005582',
 'GO_0005583',
 'GO_0005584',
 'GO_0005585',
 'GO_0005586',
 'GO_0005587',
 'GO_0005588',
 'GO_0005589',
 'GO_0005590',
 'GO_0005591',
 'GO_0005592',
 'GO_0005594',
 'GO_0005595',
 'GO_0005596',
 'GO_0005597',
 'GO_0005599',
 'GO_0005600',
 'GO_0005614',
 'GO_0005615',
 'GO_0005634',
 'GO_0005637',
 'GO_0005638',
 'GO_0005640',
 'GO_0005642',
 'GO_0005652',
 'GO_0005654',
 'GO_0005657',
 'GO_0005682',
 'GO_0005683',
 'GO_0005685',
 'GO_0005686',
 'GO_0005687',
 'GO_0005688',
 'GO_0005690',
 'GO_0005691',
 'GO_0005694',
 'GO_0005700',
 'GO_0005712',
 'GO_0005713',
 'GO_0005715',
 'GO_0005726',
 'GO_0005730',
 'GO_0005737',
 'GO_0005739',
 'GO_0005740',
 'GO_0005741',
 'GO_0005743',
 'GO_0005761',
 'GO_0005762',
 'GO_0005763',
 'GO_0005764',
 'GO_0005765',
 'GO_0005767',
 'GO_0005768',
 'GO_0005769',
 'GO_0005770',
 'GO_0005771',
 'GO_0005773',
 'GO_0005774',
 'GO_0005775',
 'GO_0005776',
 'GO_0005778',
 'GO_0005783',
 'GO_0005789',
 'GO_0005790',
 'GO_0005791',
 'GO_0005793',
 'GO_0005794',
 'GO_0005796',
 'GO_0005797',
 'GO_0005798',
 'GO_0005801',
 'GO_0005802',
 'GO_0005811',
 'GO_0005813',
 'GO_0005814',
 'GO_0005815',
 'GO_0005816',
 'GO_0005818',
 'GO_0005819',
 'GO_0005827',
 'GO_0005828',
 'GO_0005829',
 'GO_0005838',
 'GO_0005856',
 'GO_0005862',
 'GO_0005863',
 'GO_0005865',
 'GO_0005874',
 'GO_0005876',
 'GO_0005879',
 'GO_0005880',
 'GO_0005881',
 'GO_0005882',
 'GO_0005883',
 'GO_0005884',
 'GO_0005902',
 'GO_0005903',
 'GO_0005905',
 'GO_0005911',
 'GO_0005914',
 'GO_0005915',
 'GO_0005916',
 'GO_0005921',
 'GO_0005923',
 'GO_0005927',
 'GO_0005938',
 'GO_0008021',
 'GO_0008091',
 'GO_0008180',
 'GO_0008282',
 'GO_0009897',
 'GO_0009898',
 'GO_0009925',
 'GO_0010008',
 'GO_0010009',
 'GO_0010369',
 'GO_0010370',
 'GO_0010494',
 'GO_0012505',
 'GO_0012506',
 'GO_0012510',
 'GO_0014701',
 'GO_0014704',
 'GO_0014705',
 'GO_0014731',
 'GO_0014801',
 'GO_0014802',
 'GO_0014804',
 'GO_0015030',
 'GO_0015629',
 'GO_0015630',
 'GO_0015934',
 'GO_0015935',
 'GO_0016234',
 'GO_0016235',
 'GO_0016323',
 'GO_0016324',
 'GO_0016327',
 'GO_0016328',
 'GO_0016363',
 'GO_0016528',
 'GO_0016591',
 'GO_0016604',
 'GO_0016605',
 'GO_0016607',
 'GO_0019866',
 'GO_0019867',
 'GO_0020018',
 'GO_0030016',
 'GO_0030017',
 'GO_0030018',
 'GO_0030027',
 'GO_0030054',
 'GO_0030055',
 'GO_0030056',
 'GO_0030057',
 'GO_0030061',
 'GO_0030117',
 'GO_0030120',
 'GO_0030125',
 'GO_0030127',
 'GO_0030130',
 'GO_0030132',
 'GO_0030133',
 'GO_0030136',
 'GO_0030137',
 'GO_0030139',
 'GO_0030140',
 'GO_0030141',
 'GO_0030142',
 'GO_0030315',
 'GO_0030424',
 'GO_0030425',
 'GO_0030426',
 'GO_0030485',
 'GO_0030496',
 'GO_0030658',
 'GO_0030659',
 'GO_0030660',
 'GO_0030662',
 'GO_0030663',
 'GO_0030665',
 'GO_0030666',
 'GO_0030667',
 'GO_0030669',
 'GO_0030670',
 'GO_0030672',
 'GO_0030673',
 'GO_0030684',
 'GO_0030686',
 'GO_0030687',
 'GO_0030688',
 'GO_0030849',
 'GO_0030863',
 'GO_0030864',
 'GO_0030867',
 'GO_0030868',
 'GO_0030894',
 'GO_0030981',
 'GO_0030990',
 'GO_0030991',
 'GO_0030992',
 'GO_0031021',
 'GO_0031045',
 'GO_0031080',
 'GO_0031088',
 'GO_0031089',
 'GO_0031090',
 'GO_0031091',
 'GO_0031092',
 'GO_0031093',
 'GO_0031094',
 'GO_0031095',
 'GO_0031143',
 'GO_0031232',
 'GO_0031234',
 'GO_0031252',
 'GO_0031253',
 'GO_0031254',
 'GO_0031256',
 'GO_0031258',
 'GO_0031259',
 'GO_0031260',
 'GO_0031312',
 'GO_0031313',
 'GO_0031314',
 'GO_0031430',
 'GO_0031526',
 'GO_0031527',
 'GO_0031528',
 'GO_0031592',
 'GO_0031594',
 'GO_0031616',
 'GO_0031672',
 'GO_0031673',
 'GO_0031674',
 'GO_0031901',
 'GO_0031902',
 'GO_0031904',
 'GO_0031905',
 'GO_0031906',
 'GO_0031941',
 'GO_0031965',
 'GO_0031966',
 'GO_0031981',
 'GO_0031985',
 'GO_0032009',
 'GO_0032010',
 'GO_0032040',
 'GO_0032059',
 'GO_0032127',
 'GO_0032153',
 'GO_0032154',
 'GO_0032156',
 'GO_0032173',
 'GO_0032279',
 'GO_0032280',
 'GO_0032391',
 'GO_0032420',
 'GO_0032421',
 'GO_0032426',
 'GO_0032433',
 'GO_0032437',
 'GO_0032473',
 'GO_0032541',
 'GO_0032580',
 'GO_0032584',
 'GO_0032585',
 'GO_0032587',
 'GO_0032588',
 'GO_0032589',
 'GO_0032590',
 'GO_0032591',
 'GO_0032593',
 'GO_0032809',
 'GO_0032839',
 'GO_0032982',
 'GO_0033010',
 'GO_0033011',
 'GO_0033017',
 'GO_0033018',
 'GO_0033093',
 'GO_0033106',
 'GO_0033116',
 'GO_0033150',
 'GO_0033162',
 'GO_0033163',
 'GO_0033165',
 'GO_0033179',
 'GO_0033180',
 'GO_0033268',
 'GO_0033269',
 'GO_0033270',
 'GO_0033391',
 'GO_0034045',
 'GO_0034358',
 'GO_0034359',
 'GO_0034360',
 'GO_0034361',
 'GO_0034362',
 'GO_0034363',
 'GO_0034364',
 'GO_0034365',
 'GO_0034366',
 'GO_0034399',
 'GO_0034423',
 'GO_0034451',
 'GO_0034464',
 'GO_0034466',
 'GO_0034506',
 'GO_0034515',
 'GO_0034592',
 'GO_0034693',
 'GO_0034709',
 'GO_0034774',
 'GO_0034777',
 'GO_0035061',
 'GO_0035253',
 'GO_0035363',
 'GO_0035371',
 'GO_0035577',
 'GO_0035578',
 'GO_0035579',
 'GO_0035580',
 'GO_0035686',
 'GO_0035748',
 'GO_0035749',
 'GO_0035770',
 'GO_0035805',
 'GO_0035838',
 'GO_0035841',
 'GO_0035861',
 'GO_0035869',
 'GO_0035985',
 'GO_0036019',
 'GO_0036020',
 'GO_0036021',
 'GO_0036053',
 'GO_0036057',
 'GO_0036117',
 'GO_0036126',
 'GO_0036156',
 'GO_0036157',
 'GO_0036186',
 'GO_0036195',
 'GO_0036379',
 'GO_0036398',
 'GO_0036449',
 'GO_0036457',
 'GO_0036464',
 'GO_0036477',
 'GO_0042175',
 'GO_0042382',
 'GO_0042383',
 'GO_0042405',
 'GO_0042406',
 'GO_0042470',
 'GO_0042581',
 'GO_0042582',
 'GO_0042583',
 'GO_0042584',
 'GO_0042585',
 'GO_0042587',
 'GO_0042588',
 'GO_0042589',
 'GO_0042599',
 'GO_0042622',
 'GO_0042627',
 'GO_0042629',
 'GO_0042641',
 'GO_0042645',
 'GO_0042734',
 'GO_0042827',
 'GO_0042995',
 'GO_0043005',
 'GO_0043025',
 'GO_0043034',
 'GO_0043073',
 'GO_0043076',
 'GO_0043083',
 'GO_0043159',
 'GO_0043160',
 'GO_0043194',
 'GO_0043195',
 'GO_0043196',
 'GO_0043197',
 'GO_0043198',
 'GO_0043202',
 'GO_0043203',
 'GO_0043204',
 'GO_0043209',
 'GO_0043218',
 'GO_0043219',
 'GO_0043226',
 'GO_0043227',
 'GO_0043228',
 'GO_0043229',
 'GO_0043231',
 'GO_0043232',
 'GO_0043292',
 'GO_0043293',
 'GO_0043505',
 'GO_0043596',
 'GO_0043657',
 'GO_0043679',
 'GO_0044194',
 'GO_0044195',
 'GO_0044224',
 'GO_0044225',
 'GO_0044232',
 'GO_0044233',
 'GO_0044284',
 'GO_0044291',
 'GO_0044292',
 'GO_0044294',
 'GO_0044295',
 'GO_0044297',
 'GO_0044298',
 'GO_0044299',
 'GO_0044300',
 'GO_0044301',
 'GO_0044302',
 'GO_0044304',
 'GO_0044305',
 'GO_0044306',
 'GO_0044307',
 'GO_0044308',
 'GO_0044309',
 'GO_0044316',
 'GO_0044322',
 'GO_0044326',
 'GO_0044327',
 'GO_0044354',
 'GO_0044391',
 'GO_0044393',
 'GO_0044611',
 'GO_0044613',
 'GO_0044614',
 'GO_0044615',
 'GO_0044753',
 'GO_0044754',
 'GO_0044853',
 'GO_0045025',
 'GO_0045095',
 'GO_0045098',
 'GO_0045111',
 'GO_0045120',
 'GO_0045121',
 'GO_0045171',
 'GO_0045177',
 'GO_0045178',
 'GO_0045179',
 'GO_0045180',
 'GO_0045202',
 'GO_0045211',
 'GO_0045334',
 'GO_0045335',
 'GO_0046581',
 'GO_0046691',
 'GO_0048237',
 'GO_0048471',
 'GO_0048500',
 'GO_0048786',
 'GO_0048787',
 'GO_0048788',
 'GO_0051233',
 'GO_0051286',
 'GO_0055028',
 'GO_0055037',
 'GO_0055038',
 'GO_0055120',
 'GO_0060053',
 'GO_0060076',
 'GO_0060077',
 'GO_0060091',
 'GO_0060171',
 'GO_0060187',
 'GO_0060201',
 'GO_0060203',
 'GO_0060205',
 'GO_0060342',
 'GO_0060473',
 'GO_0060987',
 'GO_0061202',
 'GO_0061474',
 'GO_0061673',
 'GO_0061689',
 'GO_0061826',
 'GO_0061827',
 'GO_0061832',
 'GO_0061845',
 'GO_0061846',
 'GO_0061850',
 'GO_0061851',
 'GO_0061908',
 'GO_0062023',
 'GO_0065010',
 'GO_0070062',
 'GO_0070083',
 'GO_0070160',
 'GO_0070161',
 'GO_0070319',
 'GO_0070381',
 'GO_0070382',
 'GO_0070685',
 'GO_0070701',
 'GO_0070702',
 'GO_0070703',
 'GO_0070762',
 'GO_0070820',
 'GO_0070821',
 'GO_0070852',
 'GO_0070931',
 'GO_0070938',
 'GO_0070971',
 'GO_0071001',
 'GO_0071002',
 'GO_0071004',
 'GO_0071005',
 'GO_0071006',
 'GO_0071007',
 'GO_0071011',
 'GO_0071013',
 'GO_0071254',
 'GO_0071546',
 'GO_0071547',
 'GO_0071561',
 'GO_0071598',
 'GO_0071682',
 'GO_0071782',
 'GO_0071914',
 'GO_0071920',
 'GO_0071944',
 'GO_0071953',
 'GO_0072534',
 'GO_0072562',
 'GO_0072563',
 'GO_0072686',
 'GO_0072687',
 'GO_0090543',
 'GO_0090619',
 'GO_0090636',
 'GO_0090637',
 'GO_0090651',
 'GO_0090658',
 'GO_0090724',
 'GO_0090734',
 'GO_0097013',
 'GO_0097014',
 'GO_0097038',
 'GO_0097060',
 'GO_0097165',
 'GO_0097197',
 'GO_0097208',
 'GO_0097209',
 'GO_0097225',
 'GO_0097226',
 'GO_0097227',
 'GO_0097228',
 'GO_0097229',
 'GO_0097232',
 'GO_0097233',
 'GO_0097234',
 'GO_0097268',
 'GO_0097342',
 'GO_0097356',
 'GO_0097381',
 'GO_0097386',
 'GO_0097409',
 'GO_0097413',
 'GO_0097414',
 'GO_0097418',
 'GO_0097422',
 'GO_0097427',
 'GO_0097431',
 'GO_0097433',
 'GO_0097440',
 'GO_0097441',
 'GO_0097442',
 'GO_0097443',
 'GO_0097444',
 'GO_0097447',
 'GO_0097449',
 'GO_0097450',
 'GO_0097451',
 'GO_0097453',
 'GO_0097457',
 'GO_0097462',
 'GO_0097470',
 'GO_0097471',
 'GO_0097486',
 'GO_0097487',
 'GO_0097489',
 'GO_0097504',
 'GO_0097512',
 'GO_0097513',
 'GO_0097524',
 'GO_0097539',
 'GO_0097541',
 'GO_0097542',
 'GO_0097543',
 'GO_0097545',
 'GO_0097546',
 'GO_0097575',
 'GO_0097598',
 'GO_0097629',
 'GO_0097632',
 'GO_0097708',
 'GO_0097728',
 'GO_0097729',
 'GO_0097731',
 'GO_0097733',
 'GO_0098536',
 'GO_0098541',
 'GO_0098548',
 'GO_0098552',
 'GO_0098553',
 'GO_0098554',
 'GO_0098556',
 'GO_0098559',
 'GO_0098560',
 'GO_0098562',
 'GO_0098574',
 'GO_0098575',
 'GO_0098576',
 'GO_0098577',
 'GO_0098588',
 'GO_0098591',
 'GO_0098592',
 'GO_0098594',
 'GO_0098595',
 'GO_0098674',
 'GO_0098683',
 'GO_0098684',
 'GO_0098685',
 'GO_0098686',
 'GO_0098687',
 'GO_0098688',
 'GO_0098690',
 'GO_0098691',
 'GO_0098723',
 'GO_0098793',
 'GO_0098794',
 'GO_0098804',
 'GO_0098826',
 'GO_0098830',
 'GO_0098831',
 'GO_0098833',
 'GO_0098835',
 'GO_0098837',
 'GO_0098839',
 'GO_0098842',
 'GO_0098843',
 'GO_0098844',
 'GO_0098845',
 'GO_0098846',
 'GO_0098850',
 'GO_0098857',
 'GO_0098858',
 'GO_0098871',
 'GO_0098875',
 'GO_0098888',
 'GO_0098890',
 'GO_0098894',
 'GO_0098895',
 'GO_0098944',
 'GO_0098954',
 'GO_0098965',
 'GO_0098966',
 'GO_0098978',
 'GO_0098981',
 'GO_0098982',
 'GO_0098983',
 'GO_0098984',
 'GO_0098985',
 'GO_0098992',
 'GO_0098998',
 'GO_0099012',
 'GO_0099013',
 'GO_0099020',
 'GO_0099073',
 'GO_0099091',
 'GO_0099092',
 'GO_0099147',
 'GO_0099154',
 'GO_0099160',
 'GO_0099164',
 'GO_0099182',
 'GO_0099189',
 'GO_0099192',
 'GO_0099243',
 'GO_0099400',
 'GO_0099503',
 'GO_0099513',
 'GO_0099523',
 'GO_0099524',
 'GO_0099544',
 'GO_0099569',
 'GO_0099572',
 'GO_0099573',
 'GO_0099617',
 'GO_0099629',
 'GO_0099631',
 'GO_0099634',
 'GO_0099738',
 'GO_0101003',
 'GO_0101004',
 'GO_0106139',
 'GO_0110070',
 'GO_0120001',
 'GO_0120003',
 'GO_0120025',
 'GO_0120043',
 'GO_0120044',
 'GO_0120095',
 'GO_0120098',
 'GO_0120103',
 'GO_0120111',
 'GO_0120134',
 'GO_0120135',
 'GO_0120199',
 'GO_0120200',
 'GO_0120202',
 'GO_0120206',
 'GO_0120212',
 'GO_0120219',
 'GO_0120220',
 'GO_0120234',
 'GO_0120249',
 'GO_0120259',
 'GO_0120281',
 'GO_0120282',
 'GO_0120293',
 'GO_0120336',
 'GO_0120337',
 'GO_0120338',
 'GO_0140240',
 'GO_0140268',
 'GO_0140284',
 'GO_0140445',
 'GO_0140494',
 'GO_0150001',
 'GO_0150002',
 'GO_0150014',
 'GO_0150034',
 'GO_0150048',
 'GO_0150051',
 'GO_0150053',
 'GO_0160045',
 'GO_0160056',
 'GO_0160110',
 'GO_0160111',
 'GO_0160112',
 'GO_0170047',
 'GO_1901588',
 'GO_1902636',
 'GO_1902737',
 'GO_1903349',
 'GO_1903561',
 'GO_1903754',
 'GO_1904115',
 'GO_1904724',
 'GO_1904813',
 'GO_1904856',
 'GO_1904930',
 'GO_1905720',
 'GO_1905721',
 'GO_1990005',
 'GO_1990023',
 'GO_1990026',
 'GO_1990030',
 'GO_1990031',
 'GO_1990032',
 'GO_1990037',
 'GO_1990038',
 'GO_1990047',
 'GO_1990075',
 'GO_1990324',
 'GO_1990357',
 'GO_1990385',
 'GO_1990427',
 'GO_1990435',
 'GO_1990462',
 'GO_1990498',
 'GO_1990578',
 'GO_1990635',
 'GO_1990674',
 'GO_1990675',
 'GO_1990676',
 'GO_1990716',
 'GO_1990718',
 'GO_1990742',
 'GO_1990752',
 'GO_1990769',
 'GO_1990777',
 'GO_1990780',
 'GO_1990794',
 'GO_1990812',
 'GO_1990836',
 'GO_1990876',
 'GO_1990877',
 'GO_1990909',
 'GO_1990913',
 'GO_1990917'}

In [39]:
print("Nodes before pruning:", len(G.nodes)) # 24k

Nodes before pruning: 2064

In [40]:
# prune network
def prune_tree(G, nodeset):
    nodes_to_check = list(G.nodes)
    while nodes_to_check:
        node = nodes_to_check.pop()
        if G.out_degree(node) == 0 and G.in_degree(node) > 0 and not node in nodeset: # if leaf is not in nodeset
            parents = list(G.predecessors(node))
            G.remove_node(node)
            nodes_to_check.extend(parents)

prune_tree(G, go_terms)

print("Number of nodes left", len(G.nodes))

Number of nodes left 1940

# Build full ontology

In [42]:
# Convert the pruned graph to a dataframe for output
pruned_edges = [(u, v) for u, v in G.edges]
ontology_df = pd.DataFrame(pruned_edges, columns=['parent', 'child'])
ontology_df["type"] = "default"
ontology_df

# append gene to go term df
tmp_df = merged_go[["index","gene_name"]].drop_duplicates()
tmp_df['index'] = tmp_df['index'].str.replace(":","_")
tmp_df.columns = ['parent', 'child']
tmp_df['type'] = 'gene'

# append snp to gene df
snp_df = go_bim[["gene_name","snp"]]
snp_df.columns = ['parent', 'child']
snp_df['type'] = 'snp'

# concatenate
ontology_df = pd.concat([ontology_df, tmp_df, snp_df])
ontology_df

/scratch/tmp.20794777.dgankin/ipykernel_4025407/1703353129.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  snp_df['type'] = 'snp'

            parent        child     type
0       GO_0000137   GO_0031985  default
1       GO_0000138   GO_0031985  default
2       GO_0000139   GO_0098588  default
3       GO_0000220   GO_0033179  default
4       GO_0000221   GO_0033180  default
...            ...          ...      ...
644889       PASD1   rs58448897      snp
644890       GABRE  rs145754054      snp
644891       TREX2    rs5945389      snp
644892       SRPK3  rs199915647      snp
644893       IKBKG    rs5030868      snp

[716635 rows x 3 columns]

In [43]:
# Create a directed graph from the ontology data
OG = nx.DiGraph()

# Add edges to the graph
for index, row in ontology_df.iterrows():
    OG.add_edge(row['parent'], row['child'], type=row['type']) # only add gene if in known genes

print("Nodes in Graph:", len(OG.nodes))
print("Edges in Graph:", len(OG.edges))

#print(G.nodes)

# Step 2: Iteratively remove nodes that do not lead to a known gene
def prune_tree_(G):
    nodes_to_check = list(G.nodes)
    while nodes_to_check:
        node = nodes_to_check.pop()
        if G.out_degree(node) == 0 and G.in_degree(node) > 0 and "GO" in node:  # Check if it is a hanging node
            print("yas")
            parents = list(G.predecessors(node))
            G.remove_node(node)
            nodes_to_check.extend(parents)

prune_tree_(OG)

print("Number of nodes left", len(OG.nodes))

# Convert the pruned graph back to a dataframe for output
pruned_edges = [(u, v, OG[u][v]['type']) for u, v in OG.edges]
pruned_df = pd.DataFrame(pruned_edges, columns=['parent', 'child', 'type'])

# Save the pruned ontology
#pruned_ontology_file = '../data/go_biological_processes.txt'
pruned_ontology_file = '../data/go_cellular_components.txt'
pruned_df.to_csv(pruned_ontology_file, sep='\t', index=False)

pruned_df.head()

Nodes in Graph: 662311
Edges in Graph: 716635
Number of nodes left 662311

       parent       child     type
0  GO_0000137  GO_0031985  default
1  GO_0000137     GOLGA8J     gene
2  GO_0000137     GOLGA6A     gene
3  GO_0000137       XYLT1     gene
4  GO_0000137        ATL1     gene

In [44]:
pruned_df

            parent        child     type
0       GO_0000137   GO_0031985  default
1       GO_0000137      GOLGA8J     gene
2       GO_0000137      GOLGA6A     gene
3       GO_0000137        XYLT1     gene
4       GO_0000137         ATL1     gene
...            ...          ...      ...
716630       RPL18   rs12608448      snp
716631       HOXA3  rs118016485      snp
716632        TAF6  rs143557149      snp
716633        TPRN  rs144769563      snp
716634       NOMO1  rs137963033      snp

[716635 rows x 3 columns]